<div class="product-administration-page">
	@if(!products) {
		<app-skeleton [rows]="20" [columns]="10"></app-skeleton>
	} @else {
		@if (error) {
			<div class="error">
				<p>{{ error }}</p>
			</div>
		}

		@if (productForm) {
			<form [formGroup]="productForm" class="search-form">
				<app-input [name]="'search'"
					[type]="typeInput.TEXT"
					[formControl]="$any(productForm.get('search'))"
					placeholder="Buscar productos" />
				<button type="button" (click)="addProduct()" class="btn btn-primary">
					<span>+</span> Agregar producto
				</button>
			</form>
		}

		@if (!error) {
			<div class="table-container">
				<app-shared-table [columnDefinition]="columnDefinition"
					[data]="productsFiltered"
					(deleteRowEvent)="deleteProduct($event)"></app-shared-table>
			</div>
		}
	}
</div>
